---
import BaseLayout from "../../layouts/BaseLayout.astro";
const japanesePosts = await Astro.glob("../../pages/en/sakubun/*");
const posts = await Astro.glob("../../pages/en/blog/*");
---

<BaseLayout pageTitle="a cursed place." pageHeader="怠け者のカフェ">
  <div class="space-y-6">
    <h2 class="text-2xl">
      怠けましょうか？寛いでいいよ。お茶を淹れ、中途半端な作文を楽しんで。
    </h2>

    <h3 class="text-lg">
      まだまだですが、いつか英語で書いておいた投稿をここに載せます。
    </h3>
    <ul>
      <ul>
        {
          posts.map((post) => (
            <li>
              🐙
              <a
                class="text-purple-700 hover:text-purple-500 hover:underline hover:decoration transition-colors underline-offset-2"
                href={post.url}
              >
                {post.frontmatter.title}
              </a>
            </li>
          ))
        }
      </ul>
    </ul>
    <h3 class="text-lg">
      たまに日本語でも書きます。ほぼ全ては日本語学校の宿題としての作文です。実は、日本語で書くのが好きだから、いつかまた始めようかと思っています。
    </h3>
    <ul>
      {
        japanesePosts.map((post) => (
          <li>
            🌸
            <a
              class="text-purple-700 hover:text-purple-500 hover:underline hover:decoration transition-colors underline-offset-2"
              href={post.url}
            >
              {post.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
