---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="welcome to namakemono.dev"
  pageHeader="はじめまして！ (✿◠‿◠)"
>
  <h2 class="text-2xl">Calebと言います。</h2>
  <p class="text-base pb-8">東京に住んでいるソフトウェアエンジニアです。 🍣</p>
  <p class="pb-8">
    今までの経歴は、C#, MSSQL,
    AzureといったMicrosoftのテクノロジーを活かしたソフトウェア開発です。
    最近、充実に Elixir やReactやPostgreSQLなどが使える会社に入社し、
    会社のために頑張り抜くと伴ってさらに自分の能力を鍛えています。
    また、暇な時間にもプログラミングをしています。たとえばこのサイトは、
    Astroを勉強して慣れていけるようにこのサイトを作成しました。

    <p class="pb-8">
      もちろん、これより趣味があります！ゲームを無我夢中でしたり、5年以上に日本語を熱心に勉強しました。料理、ウェイトリフト、アニメ、ボードゲーム、クラフトビールなどにも興味があります。
    </p>

    <p>よろしくお願いしまーす！</p>
  </p>
</BaseLayout>
