---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Personal Projects" pageHeader="プロジェクト等">
  <h2 class="text-2xl pb-8">
    自分磨きだからと言おうか娯楽だからと言おうか...とにかく作成したプロジェクトをここに載せる！
  </h2>

  <div class="space-y-8">
    <p>だがしかし、とりあえずこれしかありません！</p>
    <p>
      同僚は<a
        href="https://astro.build/"
        target="_blank"
        class="text-orange-700 hover:text-orange-500 hover:underline hover:decoration transition-colors"
        >Astro</a
      >を紹介してくれたからこのサイトを作りました。
    </p>
    <p>
      最初から、Astroで職場の自己PRサイトを改善しようかと思っていたけど、そのプロジェクトを一旦置きました。
    </p>
    <p>
      このサイトのコードは、<a
        href="https://github.com/cmcclain89/namakemono.dev"
        target="_blank"
        class="text-orange-700 hover:text-orange-500 hover:underline hover:decoration transition-colors"
        >Github</a
      >にアップロードしているから、 ぜひクリックしてね!
    </p>
    <p>色々プロジェクトをいつも考えているから、いつかここに載せまーす！
    </p>
  </div>
</BaseLayout>
