---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ResumeItemJA from "../../components/ResumeItemJA.astro";

const resumeData = [
  {
    company: "Lunaris GK",
    emoji: "🛍️",
    site: "https://teamlunaris.com",
    position: "シニアソフトウェアエンジニア",
    city: "武蔵野市",
    state: "東京都",
    country: "🇯🇵",
    period: "2023年10月〜現役",
    details: [
      "easyPointsというポイントシステムとSmapifyというShopifyとスマレジ連携アプリの開発、設計担当です。",
      "チームを作り上げるために応募者の面接を行います。",
    ],
  },
  {
    company: "カイ日本語スクール",
    emoji: "🍡",
    site: "https://www.kaij.jp",
    position: "（サバティカル）日本語学校の学生",
    city: "新宿区",
    state: "東京都",
    country: "🇯🇵",
    period: "2023年1月〜2023年12月（卒業）",
    details: [
      "日本に住みながら日本語をきちんと勉強する夢を叶えるためにサバティカルを取り、日本に引っ越しました。",
      "結果的に2023年7月、日本語能力試験(JLPT)N2合格でした。現在、JLPTN1を取るにはのんびりと勉強しています！",
    ],
  },
  {
    company: "MarchingOrder",
    emoji: "🎓",
    site: "https://marchingorder.com",
    position: "シニアソフトウェアエンジニア",
    city: "（リモート）",
    state: "カリフォルニア州",
    country: "🇺🇸",
    period: "2019年8月〜2022年12月",
    details: [
      "最初は上司と二人でチームとして発足しました。",
      "新型コロナによる倒の恐れがある際、C#、JavaScript、SQLとAzureを使用して斬新なプロダクトを工夫したことで、卒業式をキャンセルする予定だった大学に大ヒットになり、自社は歴史的に最も高い年商に逆転しました。",
      "その後、上司と採用担当でチームを拡大し、リーダーとして後輩の能力を育み、プロジェクトを計画しタスクを配りました。",
      "エンジニアとしてメールシステムを最適化するために、Elastic EmailのAPIを用いて、スケーラビリティを勘案しながらAzure Functionsを使うシステムを設計しました。",
    ],
  },
  {
    company: "EPFR",
    emoji: "📈",
    site: "https://epfr.com",
    position: "ソフトウェアエンジニア",
    city: "ケンブリッジ市",
    state: "マサチューセッツ州",
    country: "🇺🇸",
    period: "2016年3月〜2019年7月",
    details: [
      "Fund FlowとAllocationというプロジェクトをC#、SQLで書き直し、Azure Service Fabricを使ってそのソフトウェアの処理とスケーラビリティを最適化しました。",
      "社長と顧客に会いに行き、どのようにソフトを使うかわかるように情報と感想を収集し、顧客の希望に応じて二つの新たなサービスでソフトを更新しました。ウェブアプリのUIをVue.js、JavaScriptで改善し、該当のAPIをC#、SQLとAzureで開発しました。",
    ],
  },
  {
    company: "Amtrust Financial Services, Inc.",
    emoji: "📄",
    site: "https://amtrustfinancial.com",
    position: "ソフトウェアエンジニア　I",
    city: "クリーブランド市",
    state: "オハイオ州",
    country: "🇺🇸",
    period: "2013年2月〜2016年3月",
    details: [
      "自社が２０個以上の保険サービスに関する提案の書類を作成したり送付したりするために、C#やSQLなどを使って新たな保険契約の提案のシステムを設計し、開発しました。",
      "10名のチームで、その提案書と保険契約の印刷のシステムを改善し、処理時間を20分の1に最速化しました。",
    ],
  },
];
---

<BaseLayout pageTitle="Caleb's Resume" pageHeader="Resume">
  <div class="space-y-8 pb-8">
    {resumeData.map((item) => <ResumeItemJA item={item} />)}
  </div>
</BaseLayout>
