---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="誰にも言わないで！">
  <h1 class="text-2xl pb-8">ゆみちゃんへの秘密のメッセージ</h1>

  <p class="text-base">あのさ</p>
  <p class="text-base">実は。。。</p>
  <p class="text-base">好きだよ❤️</p>
</BaseLayout>
