---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="welcome to namakemono.dev"
  pageHeader="Nice to meet you! (✿◠‿◠)"
>
  <h2 class="text-2xl">I'm Caleb.</h2>
  <p class="text-base pb-8">
    I'm a software engineer living in Tokyo, Japan. 🍣
  </p>
  <p class="pb-8">
    Most of my experience is with Microsoft technologies and languages such as
    C#, MSSQL, Azure and more. More recently, I joined an incredible company
    where I can use Elixir (with Phoenix/Liveview), React and PostgreSQL. I also
    play around with other technologies in my spare time; for example, this site
    was built using Astro and is hosted using Cloudflare, and I've built small
    projects with TypeScript using the Bun bundler/runtime and Hono.
  </p>

  <p>
    I don't just care about technology, though! I'm an avid gamer, and I've
    studied Japanese extensively. I also love to cook when time permits, I want
    to start weightlifting again, and I love to play board games and watch
    anime.
  </p>
</BaseLayout>
