---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Personal Projects" pageHeader="Personal Projects">
    <div class="">
        <h2 class="text-2xl pb-8">Want to see what I'm working on?</h2>

        <div class="space-y-8 max-w-prose">
            <p>Just this site for now!</p>
            <p>
                A colleague introduced me to <a
                    href="https://astro.build/"
                    target="_blank"
                    class="text-orange-700 hover:text-orange-500 hover:underline hover:decoration transition-colors"
                    >Astro</a
                >, and I wanted to try it out to see if it would be useful for a
                work project.
            </p>
            <p>
                We decided to keep the project on its current technology for
                now, but I really enjoyed using it and saw the potential it held
                for making a simple blogs and personal sites.
            </p>
            <p>
                You can find the code for this site on <a
                    href="https://github.com/cmcclain89/namakemono.dev"
                    target="_blank"
                    class="text-orange-700 hover:text-orange-500 hover:underline hover:decoration transition-colors"
                    >Github</a
                >
                !
            </p>
            <p>
                I have some ideas for future projects, so check back in the
                future!
            </p>
        </div>
    </div>
</BaseLayout>
