---
import { getLangFromLocale, useTranslations } from "../i18n/utils";

const locale = Astro.currentLocale;
const lang = getLangFromLocale(locale);
const t = useTranslations(lang);
---

<footer class="shrink-0 text-center p-2 space-y-2">
  <div>
    <a
      class="inline-flex"
      href="https://www.linkedin.com/in/calebmcclain89/"
      target="_blank"
    >
      <img class="w-6 h-6" src="/linkedin.svg" alt="LinkedIn" /></a
    >
    <a class="inline-flex" href="https://github.com/cmcclain89" target="_blank">
      <img class="w-6 h-6" src="/github.svg" alt="Github" /></a
    >
    <a
      class="inline-flex"
      href="https://www.instagram.com/gnarly_maple/"
      target="_blank"
    >
      <img class="w-6 h-6" src="/instagram.svg" alt="Instagram" /></a
    >
  </div>
  <p class="text-sm">{t("footer.text")}</p>
</footer>
