---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromLocale, useTranslations } from "../i18n/utils";
import { languageSwitchLocale } from "../i18n/ui";

const locale = Astro.currentLocale;
const switchToLocale = languageSwitchLocale[locale];
const switchToLocaleUrl = Astro.url.pathname.replace(
  `/${locale}/`,
  `/${switchToLocale}/`
);
const lang = getLangFromLocale(locale);
const t = useTranslations(lang);
---

<header class="p-4">
  <nav class="flex flex-row justify-between">
    <div class="flex-shrink-0">
      <a
        href={switchToLocaleUrl}
        class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
        >{t("header.language")}</a
      >
    </div>
    <div class="right-0 space-x-4">
      <a
        href={getRelativeLocaleUrl(locale)}
        class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
        >{t("header.home")}</a
      >
      <a
        href={getRelativeLocaleUrl(locale, "resume")}
        class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
        >{t("header.resume")}</a
      >
      <a
        href={getRelativeLocaleUrl(locale, "projects")}
        class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
        >{t("header.projects")}</a
      >
      <a
        href={getRelativeLocaleUrl(locale, "blog")}
        class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
        >{t("header.blog")}</a
      >
    </div>
  </nav>
</header>
