<header class="p-4">
    <nav class="text-right space-x-4">
        <a
            href="/"
            class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2"
            >Home</a
        >
        <a
            href="/resume"
            class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2"
            >Resume</a
        >
    </nav>
</header>
