<header class="p-4">
  <nav class="text-right space-x-4">
    <a
      href="/"
      class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
      >Home</a
    >
    <a
      href="/resume"
      class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
      >Resume</a
    >
    <a
      href="/projects"
      class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
      >Projects</a
    >
    <a
      href="/blog"
      class="text-orange-700 hover:text-orange-500 transition-colors hover:underline underline-offset-2 decoration-2"
      >Blog</a
    >
  </nav>
</header>
